# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data — we'll handle separately
data/raw/*.csv
data/interim/*.csv
data/processed/*.db

# Keep folder structure but ignore contents
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Secrets
*.env
config.ini